@import url(https://fonts.googleapis.com/css?family=Roboto:500);

:root {
  --primary: #72a1e5;
}

.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;

}

li {
  text-align: center;
  /* padding: 8px 6px 8px 10px; */
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--primary);
  font-size: 15px;
  margin: auto;
  width: 400px;

}

p {
  margin: 5px 0;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--primary);
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid var(--primary);
  border-radius: 4px;
  position: relative;
}

.details-btn {
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 100%;
  padding: 2px;
  border-radius: 0 0 4px 4px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--primary);
}

.number-of-events-label {
  color: var(--primary);
  font-size: 14px;
}

/* added for Alert styling, exercise 4.8 */
.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}